<div class="container" style="direction: rtl;">

    <!-- header row-->
    <div class="row-axis">
        <div class="row-title">
            {{leftTopTitle}}
        </div>
        <div class="day-axis" >
            <span class="day" *ngFor="let day of dayAxis"
                [style.width]="day.dayLenPc + '%'"> {{day.dayName}}</span>
        </div>
    </div>

     <!-- gantt chart rows-->
    <div class="gantt-chart-row" *ngFor="let row of rows; let i = index"
    >
        <div class="row-title">
            {{row.name}}
        </div>
        <div class="row-watches" >
                <!-- watch period blocks-->
          <div class="watch-period tooltip"
                 *ngFor="let watch of row.watches"
                [style.margin-left]="watch.offsetPerc +'%'"
                [style.margin-right]="watch.offsetPerc +'%'"
                [style.width]="watch.lengthPerc + '%'" 
                [style.color]="watch.guardTextColor"
                [style.background]="watch.guardBackground"
                
                [class.free-border] = "watch.guardId === 0" 
                (click)='onWatchClick($event, watch)'
               >
                    
                    <span class="watch-name" 
                        *ngIf="watch.guardId === 0 && watch.numWatch === 1"> 
                    
                        {{watch.lengthH + ' '}}<i class="fas fa-dove" ></i>
                    </span> 
                   <span class="watch-name" 
                        *ngIf="watch.guardId === 0 && watch.numWatch === 2"> 
                    
                        {{watch.lengthH + ' '}}<i class="fas fa-sun" ></i>
                    </span> 
                   <span class="watch-name" 
                        *ngIf="watch.guardId === 0 && watch.numWatch === 3"> 
                    
                        {{watch.lengthH + ' '}}<i class="fas fa-moon" ></i>
                    </span> 
                    <span class="watch-name" *ngIf="watch.guardId  === -1"> 
                        {{watch.lengthH + ' '}}<i class="fas fa-window-close"></i> 
                     </span>
                  
                    <div class="tooltip-text" style="font-size:0.8rem">
                        <div><strong>{{watch.Guard.name}}: </strong></div>
                        <div style="direction:ltr" >{{watch.beginString}} - {{watch.endString}}</div>
                       
                    </div>
            </div>
            
            <!-- watch milestones-->
            <!-- <div class="watch-milestone tooltip" 
                    *ngFor="let milestone of row.mileStones" 
                    [style.margin-left]="getEventOffsetPercentage(milestone.date)+'%'">
                    <i class="fas fa-star"></i>
                    <div class="tooltip-text">
                        <div><strong>{{milestone.name}}: </strong></div>
                       {{milestone.date | date:'mediumDate'}}
                    </div>
            </div> -->

            <!-- gantt chart grid lines-->
            <div class="grid-lines" (click)="onRowClick($event)">
                <span class="grid-line" *ngFor="let day of dayAxis"
                [style.width]="day.dayLenPc + '%'"></span>
            </div>
        </div>
    </div>
</div>

