<div class="container">

<table style="width:100%">
  <tr>
    <th  style="width:25%" class="row-title"> {{leftTopTitle}}</th>
    <th  *ngFor="let day of dayAxis"
            [style.width]="day.dayLenPc + '%'"> 
            {{day.dayName}}
    </th>
      
  </tr>
  <tr *ngFor="let row of rows; let nRow = index">
  	<td class="row-title" >{{row.name}}
    </td>
 
    <td [attr.colspan]="nDays" > 
	
      <div class="row-watches">
        
          <!-- <div class="row-grid" 
          style="margin-left: 33.3%;margin-right: 33.3%"></div>
          <div class="row-grid" 
          style="margin-left: 66.6%;margin-right: 66.6%"></div> -->
        <div class="watch-event tooltip"
            *ngFor="let watch of row.watches"
            [style.margin-left]="watch.offsetPerc +'%'"
            [style.margin-right]="watch.offsetPerc +'%'"
            [style.width]="watch.lengthPerc + '%'" 
            [style.color]="watch.guardTextColor"
            [style.background]="watch.guardBackground"
            [class.free-border] = "watch.guardId === 0" 
            
          >
              <span class="watch-name">{{watch.Guard.name}}</span>
              <div class="tooltip-text">
                  <div><strong>{{watch.Guard.name}}: </strong></div>
                  {{watch.beginDate |date:'d-HH:mm'}} - {{watch.endDate | date:'d-HH:mm'}}
              </div>
        </div>
        
        
        
      </div>	 
    </td>
   
  </tr>
 

</table>



</div>

