
<div class="container">

<table style="width:100%">
  <tr>
  	

    <th  style="width:25%" class="row-title"> wrbtrb</th>
    <th style="width:25%">A</th>
    <th style="width:25%">B</th>
    <th style="width:25%">C</th>

  </tr>
  <tr>
  	<td class="row-title">RRRRRRR</td>
  	
    <td colspan=3> 
		<div class="row-container">
			
				<div class="row-grid" 
				style="margin-left: 33.3%;margin-right: 33.3%"></div>
				<div class="row-grid" 
				style="margin-left: 66.6%;margin-right: 66.6%"></div>
				
				<div class="watch-event" 
					style="margin-left: 10%;margin-right: 10%;
					width:25%;
					background-color: rgba(0,0,0,0.8);">
					 8 משה ק 
				</div>
        <div class="watch-grid" style="margin-left: 15%;margin-right: 15%;"></div>
			
				<div class="watch-event" 
					style="margin-left: 10%;margin-right: 10%;
					width:25%;
					background-color: rgba(255,0,0,0.8);">
					 8 משה ק 
				</div>

				<div class="watch-event" 
					style="margin-left: 40%;margin-right: 40%;
							width:30%;background-color: rgba(0,0,255,0.8);">
					12 אנדרי
					</div>

	   
			
		</div>
   
    </td>
   
  </tr>

</table>
<br/>
<button type="button" class="btn btn-primary">Primary</button>
<button type="button" class="btn btn-secondary">Secondary</button>
<button type="button" class="btn btn-success">Success</button>
<button type="button" class="btn btn-danger">Danger</button>
<button type="button" class="btn btn-warning">Warning</button>
<button type="button" class="btn btn-info">Info</button>
<button type="button" class="btn btn-light">Light</button>
<button type="button" class="btn btn-dark">Dark</button>

<button type="button" class="btn btn-link">Link</button>


</div>





 